//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.10
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Sun 05 28 00:52:27 2023

IO_LOC "state" 11;
IO_PORT "state" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "trigger" 6;
IO_PORT "trigger" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "pulse" 4;
IO_PORT "pulse" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 5;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
